<div class="container">
    <div class="card shadow-sm bg-white">
        <div class="check-circle">
            &#10003;
        </div>
        <h3 class="mb-3">Payment Successful</h3>
        <p class="text-muted">Thank you for your purchase!</p>

        <a href="#" class="btn btn-primary btn-home">Return to Homepage</a>
    </div>
</div>