html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.product-card {
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }

.product-image {
    transition: all 0.5s ease;
    height: 300px;
    object-fit: cover;
}

.product-card:hover .product-image {
    transform: scale(1.05);
}

.badge-custom {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c3e50;
}

.btn-custom {
    background: linear-gradient(45deg, #3498db, #2ecc71);
    border: none;
    transition: all 0.3s ease;
}

.btn-custom:hover {
    transform: translateX(5px);
    box-shadow: -5px 5px 15px rgba(46, 204, 113, 0.3);
}

.cart-wrap {
    padding: 40px 0;
    font-family: 'Open Sans', sans-serif;
}

.main-heading {
    font-size: 19px;
    margin-bottom: 20px;
}

.table-wishlist table {
    width: 100%;
}

.table-wishlist thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}

    .table-wishlist thead tr th {
        padding: 8px 0 18px;
        color: #484848;
        font-size: 15px;
        font-weight: 400;
    }

.table-wishlist tr td {
    padding: 25px 0;
    vertical-align: middle;
}

    .table-wishlist tr td .img-product {
        width: 72px;
        float: left;
        margin-left: 8px;
        margin-right: 31px;
        line-height: 63px;
    }

        .table-wishlist tr td .img-product img {
            width: 100%;
        }

    .table-wishlist tr td .name-product {
        font-size: 15px;
        color: #484848;
        padding-top: 8px;
        line-height: 24px;
        width: 50%;
    }

    .table-wishlist tr td.price {
        font-weight: 600;
    }

    .table-wishlist tr td .quanlity {
        position: relative;
    }

.total {
    font-size: 24px;
    font-weight: 600;
    color: #8660e9;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.round-black-btn {
    border-radius: 25px;
    background: #212529;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    font-size: 14px;
}

    .round-black-btn:hover,
    .round-black-btn:focus {
        background: transparent;
        color: #212529;
        text-decoration: none;
    }

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.d-block {
    display: block;
}

.custom-form label {
    font-size: 14px;
    line-height: 14px;
}

.pretty.p-default {
    margin-bottom: 15px;
}

.pretty input:checked ~ .state.p-primary-o label:before,
.pretty.p-toggle .state.p-primary-o label:before {
    border-color: #8660e9;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-primary-o label:after {
    background-color: #8660e9 !important;
}

.main-heading.border-b {
    border-bottom: solid 1px #ededed;
    padding-bottom: 15px;
    margin-bottom: 20px !important;
}

.custom-form .pretty .state label {
    padding-left: 6px;
}

    .custom-form .pretty .state label:before {
        top: 1px;
    }

    .custom-form .pretty .state label:after {
        top: 1px;
    }

.custom-form .form-control {
    font-size: 14px;
    height: 38px;
}

    .custom-form .form-control:focus {
        box-shadow: none;
    }

.custom-form textarea.form-control {
    height: auto;
}

.mt-40 {
    margin-top: 40px !important;
}

.in-stock-box {
    background: #42e542;
    font-size: 12px;
    text-align: center;
    border-radius: 25px;
    padding: 4px 15px;
    display: inline-block;
    color: #fff;
}

.out-stock-box {
    background: #ff0000;
    font-size: 12px;
    text-align: center;
    border-radius: 25px;
    padding: 4px 15px;
    display: inline-block;
    color: #fff;
}


.trash-icon {
    font-size: 20px;
    color: #212529;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

    .track .step {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 25%;
        margin-top: -18px;
        text-align: center;
        position: relative
    }

        .track .step.active:before {
            background: #FF5722
        }

        .track .step::before {
            height: 7px;
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            top: 18px
        }

        .track .step.active .icon {
            background: #ee5435;
            color: #fff
        }

    .track .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: relative;
        border-radius: 100%;
        background: #ddd
    }

    .track .step.active .text {
        font-weight: 400;
        color: #000
    }

    .track .text {
        display: block;
        margin-top: 7px
    }

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

    .itemside .aside {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row, ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 250px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

    .star-rating i {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20%;
        z-index: 1;
        background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
        background-size: contain;
    }

    .star-rating input {
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 0;
        display: inline-block;
        width: 20%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 2;
        position: relative;
    }

        .star-rating input:hover + i,
        .star-rating input:checked + i {
            opacity: 1;
        }

    .star-rating i ~ i {
        width: 40%;
    }

        .star-rating i ~ i ~ i {
            width: 60%;
        }

            .star-rating i ~ i ~ i ~ i {
                width: 80%;
            }

                .star-rating i ~ i ~ i ~ i ~ i {
                    width: 100%;
                }
